header{
    background-color: rgb(74, 77, 74) ;
    text-align: center;
}
header img{
    border-radius: 300px;
    width: 10%;
}
section{
    width: 70%;
    margin: auto;
}
article{
    padding: 20px 0 20px 0;
    border-bottom: 3px dotted black;
}
article h2{
    text-transform: uppercase;
    float: left;
    border-bottom: 3px solid cadetblue;
    padding-bottom: 1px;
    line-height: 1.3em;
}
article p, article ul{
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    line-height: 2em;
    margin-bottom: 2em;
}
article ul li{
    margin-left: -3%;
    list-style: square;
}